{{ '{%' }} extends 'form/layout.html.twig' {{ '%}' }}

{{ '{%' }} block title '{{ entity }} - New' {{ '%}' }}

{{ '{%' }} block main {{ '%}' }}
    <h1>New {{ name }}</h1>
    <form name="form" method="post">
{% for input in inputs %}
        {{ input|raw }}
{% endfor %}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> Save
        </button>

        <a href="{{ '{{' }} path('posts.index') {{ '}}' }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Show list
        </a>
    </form>
{{ '{%' }} endblock {{ '%}' }}
