{{ '{%' }} trans_default_domain '{{ item }}' {{ '%}' }}
{{ '{%' }} extends 'form/layout.html.twig' {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}{{ '{%' }} trans {{ '%}' }}title.new{{ '{%' }} endtrans {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block main {{ '%}' }}
    <div class="card">
        <div class="card-header d-flex">
            <h3 class="card-header-title">
                {{ '{%' }} trans {{ '%}' }}title.new{{ '{%' }} endtrans {{ '%}' }}
            </h3>
            <div class="toolbar ml-auto">
                <a href="{{ '{{' }} path('{{ route }}.index') {{ '}}' }}" class="btn btn-outline-secondary">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> {{ '{%' }} trans from 'messages' {{ '%}' }}action.list{{ '{%' }} endtrans {{ '%}' }}
                </a>
            </div>
        </div>

        {{ '{{' }} form_start(form, {'action': path('{{ route }}.create')}) {{ '}}' }}
            <div class="card-body">
                {{ '{{' }} form_widget(form) {{ '}}' }}
            </div>

            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save" aria-hidden="true"></i> {{ '{%' }} trans from 'messages' {{ '%}' }}action.create{{ '{%' }} endtrans {{ '%}' }}
                </button>
            </div>
        {{ '{{' }} form_end(form) {{ '}}' }}
    </div>
{{ '{%' }} endblock {{ '%}' }}
{% if fkRels|length > 0 %}

{{ '{%' }} block stylesheets {{ '%}' }}
    <link rel="stylesheet" href="{{ '{{' }} asset('css/select2/select2.min.css') {{ '}}' }}" />
    <link rel="stylesheet" href="{{ '{{' }} asset('css/select2/select2bs4.min.css') {{ '}}' }}" />
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block javascripts {{ '%}' }}
    <script src="{{ '{{' }} asset('js/jquery/jquery.select2.min.js') {{ '}}' }}"></script>
    <script src="{{ '{{' }} asset('js/{{ items }}.js') {{ '}}' }}"></script>
{{ '{%' }} endblock {{ '%}' }}
{% endif %}
