{{ '{%' }} extends 'form/layout.html.twig' {{ '%}' }}

{{ '{%' }} block title '{{ entity }} - New' {{ '%}' }}

{{ '{%' }} block main {{ '%}' }}
    <div class="card">
        <div class="card-header d-flex">
            <h3 class="card-header-title">New {{ name }}</h3>
            <div class="toolbar ml-auto">
                <a href="{{ '{{' }} path('{{ route }}.index') {{ '}}' }}" class="btn btn-outline-secondary">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> List
                </a>
            </div>
        </div>

        {{ '{{' }} form_start(form, {'action': path('{{ route }}.create')}) {{ '}}' }}
            <div class="card-body">
                {{ '{{' }} form_widget(form) {{ '}}' }}
            </div>

            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save" aria-hidden="true"></i> Create
                </button>
            </div>
        {{ '{{' }} form_end(form) {{ '}}' }}
    </div>
{{ '{%' }} endblock {{ '%}' }}
