{{ '{%' }} extends 'form/layout.html.twig' {{ '%}' }}

{{ '{%' }} block title '{{ entity }} - New' {{ '%}' }}

{{ '{%' }} block main {{ '%}' }}
    <div class="card">
        <div class="card-header d-flex">
            <h3 class="card-header-title">New {{ name }}</h3>
            <div class="toolbar ml-auto">
                <a href="{{ '{{' }} path('{{ route }}.index') {{ '}}' }}" class="btn btn-outline-secondary">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> Show list
                </a>
            </div>
        </div>

        <form id="new-form" name="new-form" method="post" action="{{ '{{' }} path('{{ route }}.create') {{ '}}' }}">
            <div class="card-body">
{% for input in inputs %}
                {{ input|raw }}
{% endfor %}
            </div>

            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save" aria-hidden="true"></i> Save
                </button>
            </div>
        </form>
    </div>
{{ '{%' }} endblock {{ '%}' }}
