{{ '{%' }} trans_default_domain '{{ item }}' {{ '%}' }}
{{ '{%' }} extends 'form/layout.html.twig' {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}{{ '{%' }} trans {{ '%}' }}title.list{{ '{%' }} endtrans {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block main {{ '%}' }}
    <div class="card">
        <div class="card-header d-flex">
            <h3 class="card-header-title">
                {{ '{%' }} trans {{ '%}' }}title.list{{ '{%' }} endtrans {{ '%}' }}
            </h3>
            <div class="toolbar ml-auto">
                <a href="{{ '{{' }} path('{{ route }}.new') {{ '}}' }}" class="btn btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> {{ '{%' }} trans from 'messages' {{ '%}' }}action.new{{ '{%' }} endtrans {{ '%}' }}
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
{% for id, property in properties %}
{% if not property.isBlame %}
                        <th scope="col">{{ '{%' }} trans {{ '%}' }}label.{{ id }}{{ '{%' }} endtrans {{ '%}' }}</th>
{% endif %}
{% endfor %}
                        <th scope="col" class="text-center" style="width: 105px;"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                    </tr>
                </thead>
                <tbody>
                {{ '{{' }} include('{{ item }}/_ajax.html.twig', {{ '{' }}{{ items }}: {{ items }}{{ '}' }}) {{ '}}' }}
                </tbody>
            </table>
            {{ '{{' }} include('default/_infinite.html.twig') {{ '}}' }}
        </div>
    </div>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block javascripts {{ '%}' }}
    <script src="{{ '{{' }} asset('js/jquery/jquery.infinite.min.js') {{ '}}' }}"></script>
{{ '{%' }} endblock {{ '%}' }}
