{{ '{%' }} extends 'form/layout.html.twig' {{ '%}' }}

{{ '{%' }} block title '{{ entity }}' {{ '%}' }}

{{ '{%' }} block main {{ '%}' }}
    <div class="card">
        <div class="card-header d-flex">
            <h3 class="card-header-title">{{ entity }}</h3>
            <div class="toolbar ml-auto">
                <a href="{{ '{{' }} path('{{ route }}.new') {{ '}}' }}" class="btn btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> New
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
{% for header in headers %}
                        <th scope="col">{{ header }}</th>
{% endfor %}
                        <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> Actions</th>
                    </tr>
                </thead>
                <tbody>
                {{ '{%' }} for register in registers {{ '%}' }}
                    <tr>
{% for id, property in properties %}
{% if property.DataType starts with 'date' %}
                        <td>{{ '{{' }} register.{{ id }} ? register.{{ id }}|date('Y-m-d H:i:s') : '-' {{ '}}' }}</td>
{% elseif property.DataType starts with 'time' %}
                        <td>{{ '{{' }} register.{{ id }} ? register.{{ id }}|date('H:i:s') : '-' {{ '}}' }}</td>
{% elseif property.DataType starts with 'bool' %}
                        <td>{{ '{{' }} register.{{ id }} ? 'Yes' : 'No' {{ '}}' }}</td>
{% else %}
                        <td>{{ '{{' }} register.{{ id }} {{ '}}' }}</td>
{% endif %}
{% endfor %}
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{{ '{{' }} path('{{ route }}.read', {id: register.id}) {{ '}}' }}" class="btn btn-sm btn-outline-light">
                                    <i class="fa fa-eye text-dark" aria-hidden="true"></i>
                                </a>

                                <a href="{{ '{{' }} path('{{ route }}.edit', {id: register.id}) {{ '}}' }}" class="btn btn-sm btn-outline-light">
                                    <i class="fa fa-edit text-primary" aria-hidden="true"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {{ '{%' }} else {{ '%}' }}
                    <tr>
                        <td colspan="{{ (properties|length) + 1 }}" align="center">Nothing here</td>
                    </tr>
                {{ '{%' }} endfor {{ '%}' }}
                </tbody>
            </table>
        </div>
    </div>
{{ '{%' }} endblock {{ '%}' }}
