{{ '{%' }} trans_default_domain '{{ item }}' {{ '%}' }}
{{ '{%' }} extends 'form/layout.html.twig' {{ '%}' }}

{{ '{%' }} block title {{ '%}' }}{{ '{%' }} trans {{ '%}' }}title.edit{{ '{%' }} endtrans {{ '%}' }}{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block main {{ '%}' }}
    <div class="card">
        <div class="card-header d-flex">
            <h3 class="card-header-title">
                {{ '{%' }} trans {{ '%}' }}title.edit{{ '{%' }} endtrans {{ '%}' }}
            </h3>
            <div class="toolbar ml-auto">
                <a href="{{ '{{' }} path('{{ route }}.index') {{ '}}' }}" class="btn btn-outline-secondary">
                    <i class="fa fa-list-ol" aria-hidden="true"></i>
                    <span class="btn-text">{{ '{%' }} trans from 'messages' {{ '%}' }}action.list{{ '{%' }} endtrans {{ '%}' }}</span>
                </a>
            </div>
        </div>

        {{ '{{' }} form_start(form, {'action': path('{{ route }}.update', {id: {{ item }}.id}), 'method': 'PUT', 'attr': {'id': '{{ item }}'}}) {{ '}}' }}
            <div class="card-body">
                {{ '{{' }} form_widget(form) {{ '}}' }}
            </div>
        {{ '{{' }} form_end(form) {{ '}}' }}

        <div class="card-footer">
            <div class="row">
                <div class="col">
                    {{ '{{' }} include('{{ item }}/_delete_form.html.twig', {{ '{' }}{{ item }}: {{ item }}{{ '}' }}, with_context = false) {{ '}}' }}
                </div>

                <div class="col text-right">
                    <button type="submit" form="{{ item }}" class="btn btn-primary">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        <span class="btn-text">{{ '{%' }} trans from 'messages' {{ '%}' }}action.update{{ '{%' }} endtrans {{ '%}' }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{{ '{%' }} endblock {{ '%}' }}
{% if fkRels|length > 0 %}

{{ '{%' }} block stylesheets {{ '%}' }}
    <link rel="stylesheet" href="{{ '{{' }} asset('css/select2/select2.min.css') {{ '}}' }}" />
    <link rel="stylesheet" href="{{ '{{' }} asset('css/select2/select2bs4.min.css') {{ '}}' }}" />
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block javascripts {{ '%}' }}
    <script src="{{ '{{' }} asset('js/jquery/jquery.select2.min.js') {{ '}}' }}"></script>
    <script src="{{ '{{' }} asset('js/{{ items }}.js') {{ '}}' }}"></script>
{{ '{%' }} endblock {{ '%}' }}
{% endif %}
