{{ '{%' }} extends 'form/layout.html.twig' {{ '%}' }}

{{ '{%' }} block title '{{ entity }} - Edit' {{ '%}' }}

{{ '{%' }} block main {{ '%}' }}
    <h1>{{ name }} {{ '{{' }} {{ item }}.id {{ '}}' }}</h1>

    <form name="form" method="post" action="{{ '{{' }} path('{{ route }}.update', {id: {{ item }}.id}) {{ '}}' }}">
{% for input in inputs %}
        {{ input|raw }}
{% endfor %}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> Update
        </button>

        <a href="{{ '{{' }} path('{{ route }}.index') {{ '}}' }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Show list
        </a>
    </form>
{{ '{%' }} endblock {{ '%}' }}

{{ '{%' }} block sidebar {{ '%}' }}
    <div class="section">
        <a href="{{ '{{' }} path('{{ route }}.read', {id: {{ item }}.id}) {{ '}}' }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-eye" aria-hidden="true"></i> Show
        </a>
    </div>

    <div class="section actions">
        {{ '{{' }} include('{{ item }}/_delete_form.html.twig', {{ '{' }}{{ item }}: {{ item }}{{ '}' }}, with_context = false) {{ '}}' }}
    </div>

    {{ '{{' }} parent() {{ '}}' }}
{{ '{%' }} endblock {{ '%}' }}
