{% trans_default_domain 'messages' %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% trans %}app.title{% endtrans %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fontawesome/all.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/webfonts/fonts.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
    <div class="dashboard-main-wrapper">
        {% block header %}
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="{{ path('dashboard') }}">{% trans %}app.name{% endtrans %}</a>
                <button class="navbar-toggler" style="padding-right: 15px;" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-2x fa-caret-down"></i>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-fw fa-bell"></i>
                                <span class="indicator"></span>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title">{% trans %}base.notification.title{% endtrans %}</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">
                                                            Jeremy Rakestraw
                                                        </span>
                                                        accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-footer">
                                        <a href="#">{% trans %}base.notification.show{% endtrans %}</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-globe"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2">
                                <a class="dropdown-item" href="{{ path('locale', {'locale': 'en', 'url': app.request.uri|escape }) }}">English</a>
                                <a class="dropdown-item" href="{{ path('locale', {'locale': 'es', 'url': app.request.uri|escape }) }}">Español</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink3"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink3">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{ app.user.username }}</h5>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>{% trans %}base.header.account{% endtrans %}</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>{% trans %}base.header.setting{% endtrans %}</a>
                                <a class="dropdown-item" href="{{ path('logout') }}"><i class="fas fa-power-off mr-2"></i>{% trans %}base.header.logout{% endtrans %}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        {% endblock %}

        {% block sidebar %}
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">{% trans %}base.navbar.navigation{% endtrans %}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        {{ menu('../../config/menu.php', app.request.attributes.get('_route'))|raw }}
                    </div>
                </nav>
            </div>
        </div>
        {% endblock %}

        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                {% block body %}
                <div class="row">
                    <div class="col-12">
                        {{ include('default/_flash.html.twig') }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {% block main %}{% endblock %}
                    </div>
                </div>
                {% endblock %}
            </div>

            {% block footer %}
            <div class="footer fixed-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-right">
                                Copyright © <a href="https://www.ataringenieria.com">ATAR Ingenier&iacute;a</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>

    <div class="overlay justify-content-center" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 10; background-color: rgba(0,0,0,0.2);">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="d-table h-100">
                        <div class="d-table-cell" style="vertical-align: middle;">
                            <span class="dashboard-spinner spinner-secondary spinner-md" role="status"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>