{{ '{%' }} for _{{ item }} in {{ items }} {{ '%}' }}
    <tr>
{% for id, property in properties %}
{% set format = property.format %}
{% set td_class = '' %}
{% if format == 'timeago' %}
{% set td_class = ' class="timeago-format"' %}
{% elseif format == 'datetime' %}
{% set td_class = ' class="datetime-format"' %}
{% elseif format == 'money' %}
{% set td_class = ' class="money-format text-right"' %}
{% endif %}
{% if property.isBlame %}
{% elseif property.DataType starts with 'date' %}
        <td{{ td_class|raw }}>{{ '{{' }} _{{ item }}.{{ id }} ? _{{ item }}.{{ id }}|date('Y-m-d H:i:s') : '-' {{ '}}' }}</td>
{% elseif property.DataType starts with 'time' %}
        <td>{{ '{{' }} _{{ item }}.{{ id }} ? _{{ item }}.{{ id }}|date('H:i:s') : '-' {{ '}}' }}</td>
{% elseif property.DataType starts with 'bool' %}
        <td>{{ '{%' }} if _{{ item }}.{{ id }} {{ '%}' }}{{ '{%' }} trans from 'messages' {{ '%}' }}label.yes{{ '{%' }} endtrans {{ '%}' }}{{ '{%' }} else {{ '%}' }}{{ '{%' }} trans from 'messages' {{ '%}' }}label.no{{ '{%' }} endtrans {{ '%}' }}{{ '{%' }} endif {{ '%}' }}</td>
{% elseif fkRels[id] %}
        <td>{{ '{{' }} _{{ item }}.{{ fkRels[id].pkName }}Instance.{{ fkRels[id].text }}|default('-') {{ '}}' }}</td>
{% else %}
        <td{{ td_class|raw }}>{{ '{{' }} _{{ item }}.{{ id }} {{ '}}' }}</td>
{% endif %}
{% endfor %}
        <td class="text-center">
            <div class="btn-group">
                <a href="{{ '{{' }} path('{{ route }}.read', {id: _{{ item }}.id}) {{ '}}' }}" class="btn btn-sm btn-outline-light" title="{{ '{%' }} trans from 'messages' {{ '%}' }}action.read{{ '{%' }} endtrans {{ '%}' }}">
                    <i class="fa fa-eye text-dark" aria-hidden="true"></i>
                </a>

                <a href="{{ '{{' }} path('{{ route }}.edit', {id: _{{ item }}.id}) {{ '}}' }}" class="btn btn-sm btn-outline-light" title="{{ '{%' }} trans from 'messages' {{ '%}' }}action.edit{{ '{%' }} endtrans {{ '%}' }}">
                    <i class="fa fa-edit text-info" aria-hidden="true"></i>
                </a>
            </div>
        </td>
    </tr>
{{ '{%' }} endfor {{ '%}' }}
