{% block datepicker_widget %}
    <div class="input-group mb-3">
        <input type="text" id="{{ id }}" name="{{ full_name }}" class="form-control date-picker" {% if value is not empty %}value="{{ value }}"{% endif %} />
    </div>
{% endblock %}

{% block datetimepicker_widget %}
    <div class="input-group mb-3">
        <input type="text" id="{{ id }}" name="{{ full_name }}" class="form-control datetime-picker" {% if value is not empty %}value="{{ value }}"{% endif %} />
    </div>
{% endblock %}

{% block timepicker_widget %}
    <div class="input-group mb-3">
        <input type="text" id="{{ id }}" name="{{ full_name }}" class="form-control time-picker" {% if value is not empty %}value="{{ value }}"{% endif %} />
    </div>
{% endblock %}
